<p>
  <b>标题</b>
  <%= @law.title %>
</p>

<p>
  <b>内容</b>
  <%=raw @law.content  %>
</p>

<p>
  <b>分类id</b>
  <%= @law.category_id  %>
</p>



<div class="form-actions">
  <%= link_to '返回', admin_laws_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_law_path(@law,:category_id => params[:category_id]), :class => 'btn' %>
  <%= link_to '删除', admin_law_path(@law), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
