<tr id="<%= dom_id workflow_type %>">
  <td><%= workflow_type.id %></td>
  <td><%= link_to workflow_type.name, admin_workflow_type_workflows_path(workflow_type) %></td>
  <td><%= workflow_type.created_at %></td>
  <td>
    <%= link_to '编辑', edit_admin_workflow_type_path(workflow_type,), :class => 'btn btn-mini' %>
    <%= link_to '删除', admin_workflow_type_path(workflow_type), :method => :delete, :remote => true, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
  </td>
</tr>
