<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<h1>详细信息</h1>

<p>
  <b>标题</b><br>
  <%= @rule.title %>
</p>

<p>
  <b>内容</b><br>
  <%=raw @rule.content %>
</p>


<div class="form-actions">
  <%= link_to '返回', admin_category_rules_path, :class => 'btn'  %>
  <%= link_to '编辑 ', edit_admin_category_rule_path(@rule_type,@rule), :class => 'btn' %>
  <%= link_to '删除', admin_category_rule_path(@rule_type,@rule), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
