<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>
<div class="detail">
  <div class="title">
    <h3> <%= @rule.title %> </h3>
    <p> <%= Rule.human_attribute_name(:created_at)%>: <%= @rule.created_at.strftime('%y/%m/%d') %></p>
  </div>
  <div class="content">
    <%=raw @rule.content%>
  </div>
</div>

<div class="form-actions">
  <%= link_to '返回', admin_category_rules_path, :class => 'btn'  %>
  <%= link_to '编辑 ', edit_admin_category_rule_path(@rule_type,@rule), :class => 'btn' %>
  <%= link_to '删除', admin_category_rule_path(@rule_type,@rule), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
