<div class="page-header">
  <span class="section-title"> 教学简讯 </span>
  <%= form_for [:admin,@message_channel], :html => { :class => 'form-horizontal pull-right' } do |f| %>
    <div class="control-group">
      期号: <%= f.text_field :number, :class => 'number_field' %>
      <%= f.submit '提交', :class => 'btn' %>
    </div>
  <%end%>
</div>

<table class="table table-striped" id="channel">
  <thead>
    <tr>
      <th>期号</th>
      <th>发布于</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @channels.each do |channel| %>
      <tr id="<%= dom_id channel %>">
        <td><%= link_to "第#{channel.number}期", admin_message_channel_messages_path(channel)%></td>
        <td><%= channel.created_at %></td>
        <td>
          <%= link_to '添加栏目',new_admin_message_channel_message_type_path(channel), :remote => true, :class => 'btn btn-mini' %>
          <%= link_to '删除', admin_message_channel_path(channel), :method => :delete, :confirm => '确定删除?', :remote => true, :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @channels, :renderer => BootstrapPagination::Rails %>
