<%= form_for [:admin,@news], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @news.errors.any? %>
    <div id="error_explanation">
      <h2><%= @news.errors.count %>错误，不能保存：</h2>

      <ul>
      <% @news.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %>教务通知</legend>

    <div class="control-group">
      <%= f.label "标题", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "内容", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :content, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
        <%= f.hidden_field :author, :value => "#{current_user.name}", :class => 'text_field' %>
    </div>

    <div class="control-group">
        <%= f.hidden_field :department, :value => "#{current_user.department}", :class => 'text_field' %>
    </div>

    <div class="control-group">
      <%= f.label "是否发布", :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :show, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '发布', :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_news_index_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
