<p>
  <b>标题</b>
  <%= @news.title %>
</p>

<p>
  <b>内容</b>
  <%= @news.content %>
</p>

<p>
  <b>作者</b><
  <%= @news.author %>
</p>

<p>
  <b>部门</b>
  <%= @news.department %>
</p>

<p>
  <b>是否发布</b>
  <%= @news.show %>
</p>

<div class="form-actions">
  <%= link_to '返回', admin_news_index_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_news_path(@news), :class => 'btn' %>
  <%= link_to '删除', admin_news_path(@news), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
