<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<div class="detail">
  <div class="title">
    <h3> <%= @news.title %> </h3>
    <p> <%= News.human_attribute_name(:created_at)%>: <%= @news.created_at.strftime('%y/%m/%d') %></p>
    <p> <%= News.human_attribute_name(:author)%>: <%= @news.author%></p>
  </div>
  <div class="content">
    <%=raw @news.content%>
  </div>
</div>

<div class="form-actions">
  <%= link_to '返回', admin_news_index_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_news_path(@news), :class => 'btn' %>
  <%= link_to '删除', admin_news_path(@news), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
