<% if flash[:notice] %>
  <div class="alert alert-success">
    <%= flash[:notice] %>
    <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<div class="page-header"> 
  <span class="section-title"> 教学成果 </span>
  <%= link_to '添加', new_admin_teaching_achievement_path, :class => 'btn pull-right' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>名称</th>
      <th>级别</th>
      <th>年度</th>
      <th>部门</th>
      <th>负责人</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_achievements.each do |teaching_achievement| %>
      <tr>
        <td><%= link_to teaching_achievement.name, admin_teaching_achievement_path(teaching_achievement) %></td>
        <td><%= teaching_achievement.rank %></td>
        <td><%= teaching_achievement.year %></td>
        <td><%= teaching_achievement.department %></td>
        <td><%= teaching_achievement.team  %></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_teaching_achievement_path(teaching_achievement) %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe, admin_teaching_achievement_path(teaching_achievement), :method => :delete, :confirm => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @teaching_achievements, :renderer => BootstrapPagination::Rails %></p>

