<h1>教学成果</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>标题</th>
      <th>年份</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @teaching_achievements.each do |teaching_achievement| %>
      <tr>
        <td><%= teaching_achievement.id %></td>
        <td><%= link_to teaching_achievement.name, admin_teaching_achievement_path(teaching_achievement) %></td>
        <td><%= teaching_achievement.year %></td>
        <td>
          <%= link_to '编辑', edit_admin_teaching_achievement_path(teaching_achievement), :class => 'btn btn-mini' %>
          <%= link_to '删除', admin_teaching_achievement_path(teaching_achievement), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to '添加', new_admin_teaching_achievement_path, :class => 'btn btn-primary' %>
