<h1>/Teaching Achievement</h1>

<p>
  <b>Name</b><br>
  <%= @teaching_achievement.name %>
</p>

<p>
  <b>Year</b><br>
  <%= @teaching_achievement.year %>
</p>

<p>
  <b>Department</b><br>
  <%= @teaching_achievement.department %>
</p>

<p>
  <b>Team</b><br>
  <%= @teaching_achievement.team %>
</p>

<p>
  <b>Rank</b><br>
  <%= @teaching_achievement.rank %>
</p>

<div class="form-actions">
  <%= link_to 'Back', admin_teaching_achievements_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_admin_teaching_achievement_path(@teaching_achievement), :class => 'btn' %>
  <%= link_to 'Delete', admin_teaching_achievement_path(@teaching_achievement), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
