<%if flash[:error]%>
  <p id="notice"><%= flash[:error] %></p>
<%end%>
<div class="row">
  <div class="span4 ">
    <%= form_tag login_path do%>
      <label for="login">用户名:</label>
      <%= text_field_tag :name, params[:name]%>
      <label for="password">密码:</label>
      <%= password_field_tag :password, params[:password]%>
      <br>
      <%= submit_tag "登陆", :class => 'btn btn-primary'%>
    <%end%>
  </div>
</div>
