<%if flash[:notice]%>
  <p><%= flash[:notice] %></p>
<%end%>
<div class="row">
  <div class="span4 ">
    <%= form_tag login_path do%>
      <label for="login">Login</label>
      <%= text_field_tag :name, params[:name]%>
      <label for="password">password</label>
      <%= password_field_tag :password, params[:password]%>
      <br>
      <%= submit_tag :login, :class => 'btn btn-primary'%>
    <%end%>
  </div>
</div>
