<%= form_for [:admin,@message], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= @message.errors.count %>错误，不能保存：</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> 教学简讯</legend>

    <div class="control-group">
      <%= f.label "标题", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "内容", :class => 'control-label' %>
      <div class="controls">
        <%= f.kindeditor :content,:width => 700, :height => 300, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
        <%= f.hidden_field :message_channel_id, :value => "#{params[:channel_id]}", :class => 'text_field' %>
    </div>

    <div class="control-group">
       <%= f.hidden_field :message_type_id, :value => "#{params[:message_type_id]}", :class => 'text_field' %>
    </div>

    <div class="form-actions">
      <%= f.submit '发布', :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_messages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
