<%= form_for [:admin,@message_channel, @message], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> 教学简讯</legend>

    <div class="control-group">
      <%= f.label "标题", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "内容", :class => 'control-label' %>
      <div class="controls">
        <%= f.kindeditor :content,:width => 700, :height => 300, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "栏目", :class => 'control-label' %>
      <div class="controls">
        <%= f.select :message_type_id, @message_channel.message_types.map{|m| [m.name, m.id]}, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '发布', :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_message_channel_messages_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
