<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<p>
  <b>链接</b><br>
  <%= @link.name %>
</p>

<p>
  <b>排序</b><br>
  <%= @link.sort %>
</p>

<p>
  <b>地址</b><br>
  <%= @link.url %>
</p>

<div class="form-actions">
  <%= link_to '返回', admin_links_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_link_path(@link), :class => 'btn' %>
  <%= link_to '删除', admin_link_path(@link), :method => 'delete', :confirm => '确认?', :class => 'btn btn-danger' %>
</div>
