<div class="page-header">
  <span class="section-title"> 创新竞赛 </span>
  <%= link_to '添加新分类', new_admin_section_category_path(@section), :remote => true, :class => 'btn pull-right btn-primary' %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>发布于</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @competition_types.each do |t| %>
      <tr id="category_<%= t.id %>">
        <td><%= link_to t.name, admin_category_competitions_path(t)%></td>
        <td><%= t.created_at.strftime('%y/%m/%d')  %></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_section_category_path(@section, t), :remote =>true %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe, admin_section_category_path(@section, t), :method => :delete, :confirm => 'Are you sure?',:remote => true  %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @competition_types, :renderer => BootstrapPagination::Rails  %></p>
