<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<div class="page-header">
  <span class="section-title">
    工作流程
  </span>
      <%= link_to '新条目', new_admin_category_workflow_path, :class => 'btn pull-right' %>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>序号</th>
      <th>标题</th>
      <th>发布于</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @workflows.each do |workflow| %>
      <tr id="category_<%= workflow.id %>">
        <td><%= workflow.id %></td>
        <td><%= link_to workflow.title, admin_category_workflow_path(@workflow_type,workflow) %></td>
        <td><%= workflow.created_at.strftime('%y/%m/%d')  %></td>
        <td>
          <%= link_to '<i class="icon-edit"></i>'.html_safe, edit_admin_category_workflow_path(@workflow_type,workflow) %>
          <%= link_to '<i class="icon-trash"></i>'.html_safe, admin_category_workflow_path(@workflow_type,workflow), :method => :delete, :confirm => 'Are you sure?' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= will_paginate @workflows  %></p>
