<p>
  <b>标题</b>
  <%= @workflow.title %>
</p>

<p>
  <b>内容</b>
  <%=raw @workflow.content %>
</p>

<div class="form-actions">
  <%= link_to '返回', admin_workflow_type_workflows_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_workflow_type_workflow_path(@workflow_type, @workflow), :class => 'btn' %>
  <%= link_to '删除', admin_workflow_type_workflow_path(@workflow_type, @workflow), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
