<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<div class="detail">
  <div class="title">
    <h3> <%= @workflow.title %> </h3>
    <p> <%= Workflow.human_attribute_name(:created_at)%>: <%= @workflow.created_at.strftime('%y/%m/%d') %></p>
    <p> <%= Workflow.human_attribute_name(:category)%>:<%= category_name(@workflow.category_id)%> </p>
  </div>
  <div class="content">
    <%=raw @workflow.content %>
  </div>
</div>


<div class="form-actions">
  <%= link_to '返回', admin_category_workflows_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_category_workflow_path(@workflow_type, @workflow), :class => 'btn' %>
  <%= link_to '删除', admin_category_workflow_path(@workflow_type, @workflow), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
