<h3> 组织机构 </h3>
<%= link_to "添加", new_admin_organization_path(),  :class => 'btn btn-primary '%>
<br>
<br>
<% @categories.each do |category|%>
<br>
<h4><%= category_name category.id %></h4>
<table class="table table-striped">
  <thead>
    <tr>
      <th>标题</th>
      <th>时间</th>
      <th>分类</th>
      <th>内容</th>
      <th>作者</th>
       <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% Organization.category_posts(category.id).each do |p| %>
      <tr>
        <td><%= link_to p.name, admin_organization_path(p) %></td>
        <td><%= p.created_at %></td>
        <td><%= category_name p.category_id %></td>
        <td><%= p.responsibility %></td>
        <td><%= p.author %></td>
        <td>
         <%= link_to '编辑', edit_admin_organization_path(p), :class => 'btn btn-mini' %>
          <%= link_to '删除', admin_organization_path(p), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<br>
<% end %>
