<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<div class="detail">
  <div class="title">
    <h3> <%= @organization.name %> </h3>
    <p> <%= Organization.human_attribute_name(:created_at)%>: <%= @organization.created_at.strftime('%y/%m/%d') %></p>
    <p> <%= Organization.human_attribute_name(:author)%>: <%= @organization.author%></p>
    <p> <%= Organization.human_attribute_name(:category)%>: <%= category_name @organization.category_id  %> </p>
  </div>
  <div class="content">
    <%=raw @organization.responsibility %>
  </div>
</div>

<div class="form-actions">
  <%= link_to '返回', admin_organizations_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_organization_path(@organization,:category_id => params[:category_id]), :class => 'btn' %>
  <%= link_to '删除', admin_organization_path(@organization), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
