<%= form_for [:admin,@category], :html => { :class => 'form-horizontal' } do |category| %>
  <% if @category.errors.any? %>
    <div id="error_explanation">
      <h2><%= @category.errors.count %>错误，不能保存：</h2>
      <ul>
      <% @category.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <legend>分类</legend>

    <div class="control-group">
      <%= category.label "分类名:", :class => 'control-label' %>
      <div class="controls">
        <%= category.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= category.hidden_field :channel_name, :value => "#{params[:channel_name]}" %>
    </div>

    <div class="form-actions">
      <%= category.submit '发布', :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_categories_path(:channel_name => params[:channel_name]), :class => 'btn' %>
    </div>
  </fieldset>
<% end %>

