<%= render :partial => "upload_form"%>
<% if flash[:notice] %>
  <p class="notice"><%= flash[:notice]%></p>
<%end%>

<h3>所有文件</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>user</th>
      <th>category</th>
      <th>time</th>
       <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= document.id %></td>
        <td><%= link_to document.name,admin_document_path(document)%></td>
        <td><%= document.author %></td>
        <td><%= document.category %></td>
        <td><%= document.created_at %></td>
         <td>
          <%= link_to 'Destroy', admin_delete_file_path(document), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

