<%= render :partial => "upload_form"%>

<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<h3>所有文件</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>文件名</th>
      <th>上传者</th>
      <th>分类</th>
      <th>上传时间</th>
       <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @documents.each do |document| %>
      <tr>
        <td><%= link_to document.name,admin_document_path(document)%></td>
        <td><%= document.author %></td>
        <td><%= category_name document.category_id %></td>
        <td><%= document.created_at %></td>
         <td>
          <%= link_to '删除', admin_document_path(document), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<p><%= will_paginate @documents %></p>
