<%= form_for [:admin,@education_project], :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend>教改立项</legend>

    <div class="control-group">
      <%= f.label "标题", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "年份", :class => 'control-label' %>
      <div class="controls">
        <%= f.select(:year, 2004..Time.now.year, :class => 'date_select') %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "部门", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :department, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "责任人", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :team, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label "等级", :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :rank, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "提交", :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_education_projects_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
