
<% if flash[:notice] %>
  <div class="alert alert-success">
      <%= flash[:notice] %>
      <%= button_tag 'x', :class =>"close" %>
  </div>
<% end %>

<h1>教改立项</h1>

<p>
  <b>标题</b><br>
  <%= @education_project.name %>
</p>

<p>
  <b>年份</b><br>
  <%= @education_project.year %>
</p>

<p>
  <b>部门</b><br>
  <%= @education_project.department %>
</p>

<p>
  <b>负责人</b><br>
  <%= @education_project.team %>
</p>

<p>
  <b>等级</b><br>
  <%= @education_project.rank %>
</p>

<div class="form-actions">
  <%= link_to '返回', admin_education_projects_path, :class => 'btn'  %>
  <%= link_to '编辑', edit_admin_education_project_path(@education_project), :class => 'btn' %>
  <%= link_to '删除', admin_education_project_path(@education_project), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
