<h1>教学简讯-栏目编辑</h1>
<table class="table table-striped" id="message_type">
  <thead>
    <tr>
      <th>现有栏目</th>
      <th>id</th>
      <th>动作</th>
    </tr>
  </thead>
  <tbody>
    <% @message_types.each do |message_type| %>
      <tr id="<%= dom_id message_type %>">
        <td><%= message_type.name %></td>
        <td><%= message_type.id %></td>
        <td>
          <%= link_to '编辑',edit_admin_message_type_path(message_type, :channel_id => "#{params[:channel_id]}"), :class => 'btn btn-mini' %>
          <%= link_to '删除', admin_message_type_path(message_type), :method => :delete, :confirm => '确定删除?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render :partial => "form"%>
