<div class="row">
  <div class="span6">
<%= form_for [:admin, @user], :html => { :class => 'form-horizontal' } do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= @user.errors.count %>错误，不能保存：</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>

    <div class="control-group">
      <%= f.label '姓名', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label '密码', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label '确认密码', :class => 'control-label' %>
      <div class="controls">
        <%= f.password_field :password_confirmation, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label '部门', :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :department, :class => 'text_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label '管理员权限', :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :admin, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit '提交', :class => 'btn btn-primary' %>
      <%= link_to '取消', admin_users_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
</div>
</div>
