<%= form_for @test, :html => { :class => 'form-horizontal' } do |f| %>
  <% if@test.errors.any?%>
    <div id="error_explanation">
      <h2><%= pluralize(@test.errors.count, "error") %> prohibited this test from being saved:</h2>

      <ul>
        <% @test.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
                                                                   
  <%end%>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> /Test</legend>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', tests_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
