<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= @title %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <!-- Le styles -->
    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- Le fav and touch icons -->
    <link href="images/favicon.ico" rel="shortcut icon">
    <link href="images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
    <link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
          <div class="container">
          <a class="brand" href="/admin">管理后台</a>
          <div class="container nav-collapse">
            <ul class="nav pull-left">
                <li><%= link_to "网站首页", root_path  %></li>
                <li><%= link_to "添加栏目", new_admin_channel_path %></li>
                <li><%= link_to "所有栏目", admin_channels_path %></li>
            </ul>

            <ul class="nav pull-right">
              <li><%= link_to "#{current_user.name}"  %></li>
              <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "个人资料" %></li>
                <li><%= link_to "更改密码" %></li>
              </ul>
              </li>
                <li><%= link_to "退出", logout_path, :method => "delete"  %></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      <div class="content">
        <div class="row">
            <div class="span2">
              <div class="well sidebar-nav">
                <h3>管理菜单</h3>
                <ul class="nav nav-list">
                  <li class="nav-header">manager</li>
                    <li><%= link_to "教务通知", "/admin/news"  %></li>
                    <li><%= link_to "下载专区", "/admin/file"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>
                    <li><%= link_to "用户管理", "/admin/users"  %></li>

                </ul>
              </div><!--/.well -->
            </div><!--/span-->
           <div class="span10">
             <%if flash[:notice] %>
               <p><%= flash[:notice] %></p>
             <%end%>
             <%= yield %>
            </div>
        </div><!--/row-->
      </div><!--/content-->

      <footer>
        <p>&copy; Company 2012</p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
