<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>山东理工大学教务处</title>
  <%= csrf_meta_tags %>
  <link href="/assets/style.css" rel="stylesheet" type="text/css" />
  <script type="text/javascript">
    function show(lay)

{
  var la=document.getElementById(lay);
  var ta=document.getElementById("t1");
  var la1=document.getElementById("la1");
  var la2=document.getElementById("la2");
  var la3=document.getElementById("la3");
  if (la.style.display=="none"){
      la.style.display="";
          if (lay!="la1")
                  la1.style.display="none";
              if (lay!="la2")
                      la2.style.display="none";
                  if (lay!="la3")
                          la3.style.display="none";
                    }
    else{
          la.style.display="none";
              if (lay!="la1")
                      la1.style.display="none";
                  if (lay!="la2")
                          la2.style.display="none";
                      if (lay!="la3")
                              la3.style.display="none";
                        }
}
  </script>
 
</head>

<body>
  <table width="779" border="0" align="center" cellpadding="0" cellspacing="0">
    <tr>
      <td height="90" colspan="2"><TABLE cellSpacing=0 cellPadding=0 width=100% align=center border=0>
        <TBODY>
          <TR>
            <TD vAlign=bottom align=right width=94><IMG height=60 hspace=10 
              src="/assets/a71.gif" width=60></TD>
              <TD vAlign=bottom width=350><img src="/assets/top.gif" width="257" height="60" /><BR></TD>
              <TD vAlign=bottom align=right>
                <TABLE cellSpacing=0 cellPadding=0 width=100 border=0>
                  <TBODY>
                    <TR>
                      <TD align=right><a href="main3.html" target="mainFrame"><IMG 
                        src="/assets/en.jpg" width=42 height=12 hspace=6 
                        vspace=20 border="0"></a></TD>
                      </TR></TBODY></TABLE>
                      <TABLE cellSpacing=0 cellPadding=0 width=300 border=0>
                        <TBODY>
                          <TR>
                            <TD align=right>站内搜索</TD>
                          </TD></TR></TBODY></TABLE></TD></TR>
                          <TR>
                            <TD height=6></TD>
                            <TD></TD>
                            <TD></TD>
                          </TR>
                          <TR>
                            <TD bgColor=#990000 height=5><IMG height=1 
                              src="/assets/spacer.gif" width=1></TD>
                              <TD bgColor=#990000><IMG height=1 src="/assets/spacer.gif" 
                                width=1></TD>
                                <TD bgColor=#990000><IMG height=1 src="/assets/spacer.gif" 
                                  width=1></TD></TR>
                                  <TR>
                                    <TD height=5></TD>
                                    <TD></TD>
                                    <TD></TD></TR></TBODY></TABLE></td>
                                  </tr>
                                  <tr>
                                    <td width="183" height="690" valign="top">
                                      <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td align="center"><TABLE width=170 border=0 align="center" cellPadding=0 cellSpacing=6 class=box01>
                                            <TBODY>
                                              <TR>
                                                <TD class=box01 align=center height=20> 
                                                  <%= link_to '首 页', root_path %>
                                                </TD>
                                              </TR>
                                              <TR>
                                                <TD class=box01 align=center height=20> 
                                                  <%= link_to '机构设置', organizations_path %>
                                                </TD>
                                              </TR>
                                              <TR>
                                                <TD height=20 align=center class=box01 style="cursor:hand" onclick="show('la1')">政策法规

                                                </TD>
                                              </TR>
                                              <tr>
                                                <td height="0px">
                                                  <div id="la1" type="div" style="display:none; height:auto">
                                                    <table id="t1" width="100%">
                                                      <tr>
                                                        <td class="box03" height="20">
                                                          <%= link_to "山东省教育教学文件",{:controller=>"laws" ,:action => "index", :category_id => 1},
                                                          :style => "color:#990000" %>
                                                        </td>
                                                      </tr>
                                                      <tr>
                                                        <td class="box03" height="20">
                                                          <%= link_to '国家教育教学政策法规',{:controller=>"laws",:action=>"index", :category_id=>2},
                                                          :style => "color:#990000" %>
                                                        </td>
                                                      </tr>
                                                    </table>
                                                  </div>
                                                </td></tr>
                                                <TR>
                                                  <TD class=box01 align=center height=20> 
                                                    <%= link_to '规章制度', rule_types_path %></TD>
                                                  </TR>
                                                  <TR>
                                                    <TD class=box01 align=center height=20 style="cursor:hand" onclick="show('la2')">人才培养

                                                    </TD>
                                                  </TR>
                                                  <tr><td height="0px"><div id="la2" type="div" style="display:none; height:auto">
                                                    <table width="100%">
                                                     <tr><td class="box03"><a href="zy" target="mainFrame"><font color="#990000">专业介绍</font></a>			</td>
                                                     </tr>
                                                     <tr>
                                                      <td class="box03">
                                                        <%= link_to '课程介绍',course_types_path, :style => "color:#990000" %>
                                                      </td>
                                                    </tr>
                                                  </table>
                                                </div></td></tr>
                                                <TR>
                                                  <TD class=box01 align=center height=20>
                                                    <%= link_to '工作流程', workflow_types_path %>
                                                  </TD>
                                                </TR>
                                                <TR>
                                                  <TD class=box01 align=center height=20>
                                                    <%= link_to '教务通知',news_index_path %></TD>
                                                  </TR>
                                                  <TR>
                                                    <TD class=box01 align=center height=20>
                                                      <%= link_to '处长信箱',mail_path %>
                                                    </TD>
                                                  </TR>
                                                  <TR>
                                                    <TD class=box01 align=center height=20>
                                                      <%= link_to '下载专区',{:controller=>"documents",:action=>"index",:category_type => "学业学籍"} %>
                                                    </TD>
                                                  </TR>
                                                  <TR>
                                                    <TD class=box01 align=center height=20 style="cursor:hand" onclick="show('la3')">教学研究

                                                    </TD>
                                                  </TR>
                                                  <tr><td height="0px"><div id="la3" type="div" style="display:none; height:auto">
                                                    <table width="100%">
                                                      <tr><td class="box03">
                                                          <%= link_to "教学成果" ,'#', :style => "color:#990000" %>
                                                      </td>
                                                     </tr>
                                                     <tr><td class="box03"><a href="jiaogai" target="mainFrame"><font color="#990000">教改立项</font></a>			</td>
                                                     </tr>
                                                   </table>
                                                 </div></td></tr>
                                                 <TR>
                                                  <TD class=box01 align=center height=20><A 
                                                    href="chuangxcap" target="mainFrame">创新竞赛</A></TD>
                                                  </TR>
                                                  <TR>
                                                    <TD class=box01 align=center height=20>
                                                      <%= link_to '个人空间',personal_space_path %></TD>
                                                    </TR>
                                                    <TR>
                                                      <TD class=box01 align=center height=20><A 
                                                        href="jx" target="mainFrame">《教学简讯》</A></TD>
                                                      </TR>
                                                    </TBODY></TABLE></td>
                                                  </tr>
                                                  <tr>
                                                    <td>　</td>
                                                  </tr>
                                                  <tr>
                                                    <td align="center"><TABLE cellSpacing=0 cellPadding=0 width=170 border=0>
                                                      <TBODY>
                                                        <TR>
                                                          <TD align=middle width=40 bgColor=#990000><IMG height=14 
                                                            src="/assets/bit_02.gif" width=4 vspace=3></TD>
                                                            <TD align=left bgColor=#990000><STRONG><FONT 
                                                              color=#ffffff>相关链接</FONT></STRONG></TD></TR>


                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20><a href="Man.html" target="mainFrame"><font color="#990000">教务管理系统</font></a></TD>
                                                              </TR>

                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20><a href="http://210.44.176.116/cjcx" target="_blank">成绩查询系统</a></TD>
                                                              </TR>
                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20><a href="http://210.44.176.116/skqk/" target="_blank"> 课表查询系统</a></TD>
                                                              </TR>

                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20 ><a href="http://jwch.sdut.edu.cn/resource" target="_blank"> <font color="#990000">优质教学资源</font></a></TD>
                                                              </TR>

                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20><a href="http://210.44.176.171" target="_blank">网络教学平台</a></TD>
                                                              </TR>
                                                              <TR>
                                                                <TD height=3>>></TD>
                                                                <TD align=left height=20><a href="http://210.44.176.171/resource/" target="_blank">课程资源中心</a></TD>
                                                              </TR>
                                                              <TR>

                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><a href="http://210.44.176.148" target="_blank">精品课程</a></TD>
                                                                </TR>
                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><A href="http://210.44.176.182" target="_blank">品牌(特色)专业</A></TD>
                                                                </TR>

                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><A href="http://jwch.sdut.edu.cn/zhuoyue/" target="_blank">卓越计划试点</A></TD>
                                                                </TR>


                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><a href="http://xkzx.sdut.edu.cn/xkzx/index.php?option=com_fireboard&Itemid=40" target="_blank">教务之家</a></TD>
                                                                </TR>
                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><a href="http://210.44.176.208:8080/resourcelib/pages/default.do" target="_blank">全国精品课程资源</a></TD>
                                                                </TR>

                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><a href="http://210.44.176.182:82/" target="_blank"><font color="red">教材管理系统(校内)</font></a></TD>
                                                                </TR>

                                                                <TR>
                                                                  <TD height=3>>></TD>
                                                                  <TD align=left height=20><a href="http://202.110.209.182/" target="_blank"><font color="red">教材管理系统(校外)</font></a></TD>
                                                                </TR>


                                                                <TR>
                                                                  <TR>
                                                                    <TD height=3>>></TD>
                                                                    <TD align=left height=20><a href="http://lab.sdut.edu.cn" target="_blank">实验教学网络管理系统</a></TD>
                                                                  </TR>
                                                                  <TR>
                                                                    <TD height=3>>></TD>
                                                                    <TD align=left height=20><a href="http://210.44.176.104/sysweb/" target="_blank" >实验项目人员管理系统</a></TD>
                                                                  </TR>    



                                                                  <TR>
                                                                    <TD height=3>>></TD>
                                                                    <TD align=left height=20><a href="http://jwch.sdut.edu.cn/repair/index/index_frame.php" target="_blank">设备维修记录系统</a></TD>
                                                                  </TR>
                                                                  <TD height=10 colspan="2" bgcolor="#CCCCCC">　</TD>
                                                                </TR>
                                                              </TBODY></TABLE></td>
                                                            </tr>
                                                          </table>
                                                        </td>
                                                        <td width="596" height="680" valign="top">
                                                         <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                          <tr>
                                                            <td>
                                                              <%= yield %>
                                                            </td>
                                                          </tr>
                                                          <tr>
                                                            <td height="10" bgcolor="#CECFCE"></td>
                                                          </tr>
                                                        </table>

                                                      </td>
                                                    </tr>
                                                    <tr>
                                                      <td height="70" colspan="2"><table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
                                                        <tr>
                                                          <td width="461" height="1"></td>
                                                          <td width="318" height="1"></td>
                                                        </tr>
                                                        <tr>
                                                          <td height="4" bgcolor="#092D70"></td>
                                                          <td bgcolor="#092D70"></td>
                                                        </tr>

                                                        <TR>
                                                        </tr>
                                                      </table>
                                                      <div style="float:left; width:800px;margin-top:3px;">
                                                        <p style="margin-left:200px;">Copyright &copy;  2011 <a href="http://www.sdut.edu.cn" style="text-decoration:none;">山东理工大学</a>. All right reserved.  |  <a href="http://jwch.sdut.edu.cn/blog">技术支持:教育技术中心</a></p>
                                                      </div>
                                                    </body>
                                                    </html>
